@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IList<SoloProject.Models.Post>
<div class="jumbotron container">
    <h2>Recent Posts</h2>
</div>
<div>
    @foreach (var post in Model)
    {
        <div class="container post">
            <p>@Html.DisplayFor(x => post.Content)</p>
            @*@if (ViewBag.Comments == 0)
            {*@
            <p>@Html.ActionLink("Comment", "Create", "Comments", new { id = post.PostId }) | @Html.ActionLink("Details", "Index", "Comments", new { id = post.PostId }) | @Html.ActionLink("Edit", "Edit", "Posts", new { id = post.PostId }) | @Html.ActionLink("Delete", "Delete", "Posts", new { id = post.PostId })</p>
                @*//}
                //else
                //{*@
                
            @*}*@
        </div>
    }

    <div class="container footer">
        @Html.ActionLink("New Post", "Create", "Posts", null, new { @class = "btn btn-primary" })
    </div>
</div>