@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims

@model IList<SoloProject.Models.Post>
<div class="jumbotron container">
    <h2>Welcome, @User.GetUserName()</h2>
    <h2>Recent Posts</h2>
</div>
<div>
    @foreach (var post in Model)
    {
        <div class="container post">
            <h3>@post.Name</h3>
            <p> -"@Html.DisplayFor(x => post.Content)"</p>

            <p>@Html.ActionLink("Comment", "Create", "Comments", new { id = post.PostId }) | @Html.ActionLink("Details", "Index", "Comments", new { id = post.PostId }) | 
            <button class="btn btn-warning edit-post" value=@Html.DisplayFor(x => post.PostId) name="DeletePost" data-toggle="modal" data-target="#myModal">Edit</button> | 
            <button class="btn btn-danger delete-post" value=@Html.DisplayFor(x => post.PostId) name="DeletePost" data-toggle="modal" data-target="#myModal">Delete</button></p>
        </div>
    }
    <br />
    <br />
    <div class="container footer">

        <button class="btn btn-primary display-new-post">New Post</button>
        <div id="newPostPartial"></div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div id="deletePost"></div>
                    <div id="editPost"></div>
                </div>
            </div>
        </div>
        <!-- End of Modal -->
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        
        
        $('.display-new-post').click(function () {
        $.ajax({
            type: 'GET',
            dataType: 'html',
            url: '@Url.Action("Create")',
            success: function (result) {
                   $('#newPostPartial').html(result);
                }
            });
        });
        $('.edit-post').click(function () {
            $('#myInput').focus()
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: { id: this.value },
                url: '@Url.Action("Edit")',
                success: function (result) {
                    $('#editPost').html(result);
                }
            });
        });
        $('.delete-post').click(function () {
                $('#myInput').focus()
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    data: { id : this.value},
                    url: '@Url.Action("Delete")',
                    success: function (result) {
                        $('#deletePost').html(result);
                    }
                });
            });
        });
</script>