@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims

@model IList<SoloProject.Models.Post>

<div class="container new-post-button">
    <button class="btn btn-primary display-new-post" name="CreatePost" data-toggle="modal" data-target="#myModal">New Post</button>
</div>
<div>
    @foreach (var post in Model)
    {
        <div class="container post">
            <h3>@post.Name</h3>
            <p> -"@Html.DisplayFor(x => post.Content)"</p>

            <button class="btn btn-primary comment-post" value=@Html.DisplayFor(x => post.PostId) name="CommentPost" data-toggle="modal" data-target="#myModal">Comment</button> |
            <button class="btn btn-info details-post" value=@Html.DisplayFor(x => post.PostId) name="DetailsPost">Details</button> | 
            <button class="btn btn-warning edit-post" value=@Html.DisplayFor(x => post.PostId) name="EditPost" data-toggle="modal" data-target="#myModal">Edit</button> | 
            <button class="btn btn-danger delete-post" value=@Html.DisplayFor(x => post.PostId) name="DeletePost" data-toggle="modal" data-target="#myModal">Delete</button> | <button class="btn btn-default message-user" value=@Html.DisplayFor(x => post.PostId) name="MessageUser" data-toggle="modal" data-target="#myModal">Message User</button> 
            <div id="details"></div>
        </div>
    }
    <br />
    <br />
    <div class="container footer">

     
      


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div id="ModalPost"></div>
                </div>
            </div>
        </div>
        <!-- End of Modal -->
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('.comment-post').click(function () {
            $('#myInput').focus()
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: { id : this.value},
                url: '@Url.Action("Create", "Comments")',
                success: function (result) {
                    $('#ModalPost').html(result);
                }
            });
        });
        $('.display-new-post').click(function () {
            $('#myInput').focus()
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: { id: this.value },
                url: '@Url.Action("Create")',
                success: function (result) {
                    $('#ModalPost').html(result);
                }
            });
        });
        $('.details-post').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: { id: this.value },
                url: '@Url.Action("Index", "Comments")',
                success: function (result) {
                    $('#details').html(result);
                }
            });
        });
        $('.edit-post').click(function () {
            $('#myInput').focus()
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: { id: this.value },
                url: '@Url.Action("Edit")',
                success: function (result) {
                    $('#ModalPost').html(result);
                }
            });
        });
        $('.delete-post').click(function () {
                $('#myInput').focus()
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    data: { id : this.value},
                    url: '@Url.Action("Delete")',
                    success: function (result) {
                        $('#ModalPost').html(result);
                    }
                });
        });
        $('.message-user').click(function () {
            $('#myInput').focus()
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: { id: this.value },
                url: '@Url.Action("Message")',
                success: function (result) {
                    $('#ModalPost').html(result);
                }
            });
        });
        });
</script>