@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SoloProject.Models.Comment
<div class="container editComment">
    <h3>Edit current Comment</h3>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.PostId)
        @Html.HiddenFor(model => model.CommentId)

        @Html.LabelFor(model => model.CommentBody)
        <br />
        @Html.EditorFor(model => model.CommentBody)


        <input type="submit" value="Save" class="btn btn-warning" />
    }
    @Html.ActionLink("Back to post", "Index", "Comments", new { id = Model.PostId })
</div>